*.sif
*_sandbox
target/
*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
**/*credentials.properties
.project
.classpath
.settings
.pydevproject
svn-commit*
.DS_Store
