manifest {
    name = 'crukci-bioinformatics/nf-referencebuilder'
    author = 'Richard Bowers'
    description = 'CRUK-CI reference building pipeline. For internal use only.'
    mainScript = 'builder.nf'
    nextflowVersion = '>=20.0.0'
    version = '2.0.0'
}

executor {
    $slurm {
        queueSize = 150
        pollInterval = '30sec'
        queue = 'general'
        clusterOptions = "--nodes=1 --open-mode=truncate"
        jobName = { "'${task.process.split(/:/).last()} ${task.tag}'" }
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "--bind '${projectDir}'"

process {
    cpus = 1
    memory = '1GB'
    time = '1h'

    container = "${projectDir}/container/referencebuilder-latest.sif"

    errorStrategy = {
        task.exitStatus in 137..140 ? 'retry' : 'finish'
    }

    withLabel:picard {
       memory = { '2g' * 2 ** (task.attempt - 1) } // So 2, 4, 8, 16 etc
       time = { '4h' * task.attempt }
       maxRetries = 3
    }

    withLabel:bwa {
       memory = { '8g' * 2 ** (task.attempt - 1) } // So 8, 16, 32
       time = { '2h' * task.attempt }
       maxRetries = 2
    }

    withLabel:tiny {
       memory = '4MB'
       time = '5m'
       executor = 'local'
    }
}

profiles {
    standard {
        params.referenceTop = '/data/personal/bowers01/nf_reference_data'

        process {
            executor = 'local'
        }

        executor.$local.cpus = 4
        executor.$local.memory = '32GB'
    }

    cluster {
        params.referenceTop = '/mnt/scratchb/bioinformatics/bowers01/nf_reference_data'

        process {
            executor = 'slurm'
        }
    }

    bioinf {
        params.referenceTop = '/data/personal/bowers01/nf_reference_data'

        process {
            executor = 'local'
        }

        executor.$local.cpus = 40
        executor.$local.memory = '160GB'
    }
}

params {

    // Software versions.

    BWA_VERSION = '0.7.17'
    BWAMEM2_VERSION = '2.2.1'

    // Application paths in the container.

    SAMTOOLS = '/opt/samtools-1.15.1/bin/samtools'
    PICARD = '/opt/picard-2.27.3.jar'
    BWA = "/opt/bwa-${BWA_VERSION}/bwa"
    BWAMEM2 = "/opt/bwa-mem2-${BWAMEM2_VERSION}/bwa-mem2"

    GTFTOGENEPRED = '/opt/ucsc_tools/gtfToGenePred'
    GENEPREDTOGTF = '/opt/ucsc_tools/genePredToGtf'
}
