manifest {
    name = 'nrlab-CRUK/referencebuilder'
    author = 'Richard Bowers'
    description = 'CRUK-CI NR Lab reference building pipeline.'
    mainScript = 'builder.nf'
    nextflowVersion = '>=20.0.0'
    version = '1.0.0'
}

executor {
    $slurm {
        queueSize = 200
        pollInterval = '30sec'
        queue = 'general'
        clusterOptions = "--nodes=1 --open-mode=truncate"
        jobName = { "'${task.process.split(/:/).last()} ${task.tag}'" }
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "--bind '${projectDir}'"

process {
    cpus = 1
    memory = '1GB'
    time = '1h'

    tag = { "${genomeInfo.base}" }

    container = "crukcibioinformatics/referencebuilder:2.0.0"

    errorStrategy = {
        task.exitStatus in [ 104, 134, 137..140 ].flatten() ? 'retry' : 'ignore'
    }

    withLabel:picard {
       memory = { 2.GB * 2 ** (task.attempt - 1) } // So 2, 4, 8, 16 etc
       time = { 8.h * task.attempt }
       maxRetries = 3
    }

    withLabel:builder {
       memory = { 8.GB * 2 ** (task.attempt - 1) } // So 8, 16, 32
       time = { 12.h * task.attempt }
       maxRetries = 2
    }

    withLabel:assembler {
       memory = { 2.GB * 2 ** (task.attempt - 1) } // So 2, 4, 8, 16
       time = { 8.h * task.attempt }
       maxRetries = 3
    }

    withLabel:fetcher {
       memory = 4.MB
       time = '1h'
       executor = 'local'
    }

    withLabel:tiny {
       memory = 4.MB
       time = '5m'
       executor = 'local'
    }
}

profiles {
    standard {
        params.referenceTop = '/data/personal/bowers01/rosenfeld_references'

        process {
            executor = 'local'
        }

        executor.$local.cpus = 4
        executor.$local.memory = '32GB'
    }

    cluster {
        params.referenceTop = '/mnt/scratcha/bioinformatics/rosenfeld_references'

        process {
            executor = 'slurm'
            jobName = { "'NR ReferenceBuilder ${task.process.split(/:/).last()} ${task.tag}'" }
        }
    }

    bioinf {
        params.referenceTop = '/data/personal/bowers01/rosenfeld_references'

        process {
            executor = 'local'
        }

        executor.$local.cpus = 40
        executor.$local.memory = '200GB'
    }
}

params {

    // Location of properties files.

    genomeInfoDirectory = "${projectDir}/genomeinfo"

    // Software versions.

    BWAMEM2_VERSION = '2.2.1'

    // Application paths in the container.

    PICARD = "/usr/local/lib/picard.jar"
    REFBUILDER = "/usr/local/lib/nf-referencebuilder.jar"
}

timeline {
    enabled = true
    file = "${launchDir}/work/execution_timeline.html"
}
report {
    enabled = true
    file = "${launchDir}/work/execution_report.html"
}
