<?xml version="1.0" encoding="UTF-8"?>
<Configuration
    xmlns="http://logging.apache.org/log4j/2.0/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%date %level %logger{1} - %message%n%throwable}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.cruk" level="ERROR"/>

        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
